{% extends 'inicio/base.html' %}
{% load static %}
{% block section %}
<section class="zona-4">
    <div class="container-contact">
        <img class="image-contact" src="{% static 'inicio/images/home-images/need-help.jpg' %}" alt="">
    </div>
    <div class="txt-need-help">
        <h2>¿Necesitas Ayuda?</h2>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur.</p>
        <a href="" class="button-contact"><button>Contáctanos</button></a>
        <ul class="list-contact">
            <li><a href="">Teléfono:55 6677 8899</a></li>
            <li><a href="">Email: omega@gmail.com</a></li>
        </ul>
    </div>
</section>
{% endblock %}
