{% extends 'inicio/base.html' %}
{% load static %}
{% block section %}
<section class="zona-1">
    <div class="container">
        <!--<img class="image-zona-1" src="{% static 'inicio/images/home-images/ini-img.png' %}" alt="">-->
        <img class="image-zona-1" src="{{ pagina.imagen_inicio.url }}" alt="">
    </div>
    <div class="txt-start">
        <h1 id="editable-heading" style="color: {{ pagina.color_letra_titulo }};" >{{ pagina.titulo }}</h1>
        <p style="color: {{ pagina.color_letra_titulo_dos }};">{{ pagina.titulo_dos }}</p>
        <button style="background-color: {{ pagina.color_boton }}; color: {{ pagina.color_letra_boton }};" class="button-send" onclick="openModalForm()">Realiza una cotización</button>
    </div> 
</section>
{% endblock %}