{% extends 'inicio/base.html' %}
{% load static %}
{% block section %}
<section class="zona-2">
    <div class="container-us">
        <img class="image-us" src="{% static 'inicio/images/home-images/us.jpg' %}" alt="">
    </div>
    <div class="txt-about-us">
        <h2 style="color: {{ pagina.color_letra_titulo }};">{{ pagina.titulo }}</h2>
        <p style="color: {{ pagina.color_txt_uno }};">
        {{ pagina.txt_uno }}
        <p>
        <h2 style="color: {{ pagina.color_letra_titulo_dos }};" >{{ pagina.titulo_dos }}</h2>
        <p style="color: {{ pagina.color_txt_dos }};" >{{ pagina.txt_dos }}</p>
    </div>
</section>
{% endblock %}