{% extends 'inicio/base.html' %}
{% load static %}
{% block section %}
<section class="zona-2">
    <div class="container-us">
        <img class="image-us" src="{% static 'inicio/images/home-images/us.jpg' %}" alt="">
    </div>
    <div class="txt-about-us">
        <h2>¿Quiénes somos?</h2>
        <p>
        Somos una empresa especializada en la fabricación y distribución de productos de cartón para múltiples aplicaciones. 
        Ofrecemos una amplia variedad de soluciones de cartón, como cajas para usos múltiples, envíos de venta en línea, archivo muerto, 
        contenedores cerrados, contenedores calados, cartón corrugado y esquineros de protección. Nos dedicamos a satisfacer las necesidades 
        de nuestros clientes con productos de alta calidad, diseñados para brindar resistencia, funcionalidad y sostenibilidad en cada uso.
        <p>
        <h2>Diferencias</h2>
        <ul class="differences">
            <li><a>✓ Calidad Superior: Utilizamos materiales de alta resistencia para garantizar que cada producto cumpla con los estándares de durabilidad y protección</a>
            </li>
            <li><a>✓ Variedad de Productos: Ofrecemos una gama completa de soluciones de cartón, desde cajas para envíos hasta esquineros y contenedores especializados.</a>
            </li>
            <li><a>✓ Personalización: Diseñamos y fabricamos productos a la medida de las necesidades de nuestros clientes, ajustándonos a sus especificaciones.</a>
            </li>
        </ul>
    </div>
</section>
{% endblock %}