{% extends 'inicio/base.html' %}
{% load static %}
{% block section %}
<section class="zona-2">
    <div class="container-us">
        <img class="image-us" src="{% static 'inicio/images/home-images/us.jpg' %}" alt="">
    </div>
    <div class="txt-about-us">
        <h2>¿Quiénes somos?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean laoreet lobortis dui, eget pellentesque nisl
            porttitor sit amet. Curabitur pulvinar tincidunt lacus eu molestie. Praesent dignissim congue viverra.
            Phasellus a ornare sapien. Donec est enim, hendrerit non consequat eu, pharetra sed est. Nullam ac auctor
            lectus. Suspendisse potenti. Pellentesque aliquet leo magna. Mauris non aliquet justo. Vestibulum sodales
            justo id erat fringilla maximus sit amet et ligula. Sed nec aliquet ante, sit amet iaculis felis. Praesent
            pharetra rhoncus venenatis.
            Duis venenatis, ipsum vitae blandit consequat, nibh elit sagittis nunc, et vehicula odio orci ut ante.
        <p>
        <h2>Diferencias</h2>
        <ul class="differences">
            <li><a href="">✓Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.</a>
            </li>
            <li><a href="">✓ Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.</a>
            </li>
            <li><a href="">✓Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                    pariatur.</a>
            </li>
        </ul>
    </div>
</section>
{% endblock %}