{% extends 'cuenta/baseDashboard.html' %}
{% load static %}


{% block avatar %}
    <div class="user-avatar">
        <img class="user-avatar" src="{% static 'inicio/images/avatar/admin.jfif' %}" alt="Imagen de usuario">
    </div>
{% endblock %}

{% block menu %}
    <div class="menu-content">
        <h2>Menú</h2>
        <ul>
            <li><a href="{% url 'dashboard_inicio' %}">Dashboard</a></li>
            <li><a href="{% url 'productos_admin' %}">Productos</a></li>
            <li><a href="{% url 'pedidos_admin' %}">Pedidos</a></li>
            <li><a href="#">Facturas</a></li>
            <li><a href="#">Usuarios</a></li>
            <li><a href="{% url 'modificaciones' %}">Configuraciones</a></li>
        </ul>
    </div>
{% endblock %}


{% block dashboard %}
    <section class="dashboard">

        <h2>Lista de Productos</h2>
        <table class="productos-table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            {% for producto in productos %}
                <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.stock }}</td>
                <td>
                    <!-- Formulario de eliminación -->
                    <form method="POST" action="{% url 'productos_admin' %}">
                    {% csrf_token %}
                    <input type="hidden" name="producto_id" value="{{ producto.pk }}">
                    <button type="submit" name="eliminar" class="btn-eliminar">Eliminar</button>
                    </form>
                </td>
                </tr>
            {% empty %}
                <tr>
                <td colspan="5">No hay productos disponibles.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        {% if messages %}
            <div class="messages">
            {% for message in messages %}
                <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}

        <form method="POST" class="producto-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Agregar Producto</button>
        </form>
    </section>
{% endblock %}