{% extends 'cuenta/baseDashboard.html' %}
{% load static %}

{% block avatar %}
    <div class="user-avatar">
        <img class="user-avatar" src="{% static 'inicio/images/avatar/admin.jfif' %}" alt="Imagen de usuario">
    </div>
{% endblock %}

{% block menu %}
    <div class="menu-content">
        <h2>Menú</h2>
        <ul>
            <li><a href="{% url 'dashboard_inicio' %}">Dashboard</a></li>
            <li><a href="{% url 'productos_admin' %}">Productos</a></li>
            <li><a href="{% url 'pedidos_admin' %}">Pedidos</a></li>
            <li><a href="{% url 'usuarios_admin' %}">Usuarios</a></li>
            <li><a href="{% url 'modificaciones' %}">Configuraciones</a></li>
        </ul>
    </div>
{% endblock %}

{% block dashboard %}
    <section class="dashboard">
        <h2>Modificaciones Pagina</h2>
        <p>Bienvenido al panel de control! Aquí puedes personalizar y explorar cada sección de la página según tus necesidades. Por favor, selecciona la opción que deseas modificar o analizar.</p>
        <br>
        <h1>Pagina Principal</h1>
        <div class="cont-int">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div>
                        <label for="id_titulo">Título 1:</label>
                        {{ form.titulo }}
                    </div>
                    <div>
                        <label for="id_titulo_dos">Título 2:</label>
                        {{ form.titulo_dos }}
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="color_letra_titulo">Color Título 1:</label>
                        {{ form.color_letra_titulo }}
                    </div>
                    <div>
                        <label for="color_letra_titulo_dos">Color Título 2:</label>
                        {{ form.color_letra_titulo_dos }}
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="color_boton">Color Boton:</label>
                        {{ form.color_boton }}
                    </div>
                    <div>
                        <label for="color_letra_boton">Color Letra Boton:</label>
                        {{ form.color_letra_boton }}
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="id_imagen_inicio">Imagen de inicio:</label>
                        {{ form.imagen_inicio }}
                    </div>
                </div>
                <div class="row-color">
                    <h3 id="hex">#000000</h3>
                    <div class="btns">
                        <input type="color" class="color-picker">
                    </div>
                </div>
                <div class="button-container">
                    <button type="submit" name="action" value="save" class="button-send">Guardar cambios</button>
                    <button type="submit" name="action" value="restore" class="button-send">Restaurar datos anteriores</button>
                </div>
            </form>
            <div class="button-container">
                <button id="showIframeBtn" class="button-send" onclick="showIframe()">Mostrar Template</button>
                <button id="hideIframeBtn" class="button-send" style="display: none;" onclick="hideIframe()">Cerrar</button>
            </div>    
        </div>

        <div id="iframeContainer" style="display: none; margin-top: 20px;">
            <iframe id="iframeTemplate" src="{% url 'inicio' %}" frameborder="0" style="width: 100%; height: 80vh;"></iframe>
        </div>

        <br>
        <h1>Botones</h1>
        <h3 id="hex1">#000000</h3>
        <div class="cont-int1">
            <button class="color-button1"><a href="#">Boton Prueba</a></button>
            <div class="btns">
                <input type="color" class="color-picker">
            </div>
            <button class="color-button2"><a href="#">Aplicar</a></button>
        </div>
        <br>
        <h1>Nav Bar</h1>
        <h3 id="hex2">#000000</h3>
        <div class="cont-int2">
            <div class="cont-int-nav">
                <a href="#" class="navbar-item">Grupo Omega</a>
                <div class="spacer"></div>
                <a href="#" class="navbar-item">Inicio</a>
                <a href="#" class="navbar-item">Nosotros</a>
                <a href="#" class="navbar-item">Productos</a>
                <a href="#" class="navbar-item">Contacto</a>
                <div class="spacer-i"></div>
                <button class="color-button3">Iniciar sesion</button>
            </div>
            <div class="btns">
                <input type="color" class="color-picker">
            </div>
            <button class="color-button4"><a href="#">Aplicar</a></button>
        </div>
    </section>

<script>
    function showIframe() {
        const iframeContainer = document.getElementById('iframeContainer');
        const showButton = document.getElementById('showIframeBtn');
        const hideButton = document.getElementById('hideIframeBtn');

        // Mostrar el contenedor y ocultar el botón de mostrar
        iframeContainer.style.display = 'block';
        showButton.style.display = 'none';
        hideButton.style.display = 'inline-block';
    }

    function hideIframe() {
        const iframeContainer = document.getElementById('iframeContainer');
        const showButton = document.getElementById('showIframeBtn');
        const hideButton = document.getElementById('hideIframeBtn');

        // Ocultar el contenedor y mostrar el botón de mostrar
        iframeContainer.style.display = 'none';
        showButton.style.display = 'inline-block';
        hideButton.style.display = 'none';
    }

</script>
{% endblock %}

{% block script %}
<script src="{% static 'cuenta/js/color.js' %}"></script>
{% endblock %}