<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'inicio/css/style.css' %}" />
    <title>Grupo Omega</title>
</head>
<body>
    <header class="header">
        <div class="logo-img">
            <a href="{% url 'inicio' %}">Grupo Omega</a>
            <img src="{% static 'inicio/images/home-images/logo.png' %}" alt="Logo marca">
        </div>
    </header>
    <section class="zona-8">
        <div class="txt-code-invalid">
            {% block paragraph%}
            {% endblock %}
            {% block reference %}
            {% endblock %}
            {% block image %}
            {% endblock %}
        </div>
    </section>
    <script src="{% static 'cuenta/js/scripts-login.js' %}"></script>
</body>
</html>